.page-title {
   margin-top: 70px;
   font-size: 60px;
   font-weight: 500;
   line-height: 110%;
   color: var(--light);
   text-align: center;

   @media all and (max-width: 640px) {
      font-size: calcSize(640, 280, 60, 40);
   }

   @media all and (max-width: 400px) {
      margin-top: 60px;
   }
}
 
