<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta property="og:type" content="website">
   <meta property="og:title" content="Barko School - Центр комплексного развития">
   <meta property="og:description" content="Более 7 лет успешного обучения взрослых детей разных возрастов">
   <meta property="og:url" content="http://danilarose.net">
   <meta property="og:image" content="http://danilarose.net/img/optimized/og-image.jpg">
   <meta property="og:site_name" content="Barko School">
   <!-- Иконка для вкладки браузера -->
   <link rel="icon" href="../../img/favicon/fav_32.ico" type="image/x-icon">

   <!-- Иконки в разных размерах -->
   <link rel="icon" href="../../img/favicon/fav_16.png" type="image/png" sizes="16x16">
   <link rel="icon" href="../../img/favicon/fav_32.png" type="image/png" sizes="32x32">
   <link rel="icon" href="../../img/favicon/fav_64.png" type="image/png" sizes="64x64">
   
   <!-- Дополнительные размеры или форматы иконок -->
   <link rel="icon" href="../../img/favicon/fav_48.png" type="image/png" sizes="48x48">
   <link rel="icon" href="../../img/favicon/fav_128.png" type="image/png" sizes="128x128">
   
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
   <link rel="stylesheet" href="../../libs/css/bootstrap-grid.min.css">
   <link rel="stylesheet" href="../../libs/css/reset.min.css">
   <link rel="stylesheet" as="font" href="../../fonts/fonts.css">
   <link rel="stylesheet" as="font" href="../../fonts/iconsfont.css">
   <link rel="stylesheet" href="@@mainCss">
   
   <title>@@title</title>
</head>
