<div class="socials">
   @@loop('./socials-item.html', [
      { 
         "link": "https://www.instagram.com/drose.web/" ,
         "img": "../../img/socials/insta.svg",
         "alt": "Danila Rose instagram"
      },
      { 
         "link": "https://github.com/drose6666" ,
         "img": "../../img/socials/github.svg",
         "alt": "Danila Rose github"
      },
      { 
         "link": "https://t.me/danilarose" ,
         "img": "../../img/socials/telegram.svg",
         "alt": "Danila Rose telegram"
      }
   ])
</div>